<nav class="navbar bg-primary" th:fragment="navbar">
  <div class="container-fluid">
    <a th:href="@{/}">
      <img class="navbar-brand" th:src="@{/img/megabyte-logo.png}" alt="logo" height="80">
    </a>
    <div class="nav justify-content-end">
      <a class="navbar-text links" href="?" >Sobre</a>
      <a class="navbar-text links" href="?">Login</a>
      <a class="navbar-text links" th:href="@{/adm}">Adm</a>
      <button class="navbar-text btn btn-danger">Carrinho🛒</button>
    </div>
  </div>
</nav>