<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- quill -->
  <link href="https://cdn.jsdelivr.net/npm/quill@1.3.6/dist/quill.snow.css" rel="stylesheet" />
  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <!-- css -->
  <link rel="stylesheet" th:href="@{/style/form.css}">
  <title>Megabyte | Form</title>
</head>
<body>
  
  <div class="form-conteiner">

    <form class="row" th:action="@{/salvar}" method="post" th:object="${form}" enctype="multipart/form-data" onsubmit="submitForm()">
      
      <!-- ID -->
      <input type="hidden" name="id" th:value="${produto != null} ? ${produto.id} : null">
      
      <!-- NOME -->
      <div class="col-md-6">
        <label for="nome" class="form-label">Nome do Produto</label>
        <input th:if="${produto != null}" type = "text" id="nome" name="nome" th:value="${produto.nome}"  class="form-control" required>
        <input th:unless="${produto != null}" type = "text" id="nome" name="nome" th:value="${form.nome}"  class="form-control" required>
        <p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="error-msg"/>
      </div>
      
      
      <!-- CATEGORIA  -->
      <div class="col-md-6">
        <label for="categoria" class="form-label">Categoria do Produto</label>
        <select  id="categoria" name="categoria" class="form-select" required>
          <option value="">...</option>
          <option th:each="categoria : ${categorias}" 
                  th:value="${categoria.id}" 
                  th:text="${categoria.nome}" 
                  th:selected="${produto != null} and ${categoria.id} == ${produto.id_categoria} or ${produto == null} and ${categoria.id} == ${form.categoria}">
          </option>
        </select>
        <p th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}" class="error-msg"/>
      </div>
      
      <!-- VALOR  -->
      <div class="col-md-6">
        <label for="valor" class="form-label">Valor do Produto</label>
        <input th:if="${produto != null}" type="number" id="valor" name="valor" th:value="${produto.valor}" class="form-control" step=".01" required>
        <input th:unless="${produto != null}" type="number" id="valor" name="valor" th:value="${form.valor}" class="form-control" step=".01" required>
        <p th:if="${#fields.hasErrors('valor')}" th:errors="*{valor}" class="error-msg"/>
      </div>
      
      <!-- QUANTIDADE  -->
      <div class="col-md-6">
        <label for="quantidade" class="form-label">Quantidade do Produto</label>
        <input th:if="${produto != null}" type="number" name="quantidade" id="quantidade" th:value="${produto.quantidade}" class="form-control" required>
        <input th:unless="${produto != null}" type="number" name="quantidade" id="quantidade" th:value="${form.quantidade}" class="form-control" required>
        <p th:if="${#fields.hasErrors('quantidade')}" th:errors="*{quantidade}" class="error-msg"/>
      </div>
      
      <!-- IMAGEM  -->
      <div class="mb-3">
        <label for="imagem" class="form-label">Imagem do Produto</label>
        <img th:if="${produto} != null" th:src="@{'http://localhost:9000/repository/' + ${produto.imagem}}" height="100px" style="display: block;" alt="imagem atual" >
        <p th:if="${produto} != null" th:text="'atual: ' + ${produto.imagem}" style="color: dodgerblue;"></p>
        <input type="file" name="imagem" id="imagem" class="form-control" th:required="${produto != null} ? false : true" accept="image/*">
        <p th:if="${#fields.hasErrors('imagem')}" th:errors="*{imagem}" class="error-msg"/>
      </div>

      <!-- DESCRICAO  -->
      <label class="form-label">Descrição</label>
      <div id="editor" th:utext="${produto} != null ? ${descricao} : ${form.descricao}"></div>
      <input type="hidden" name="descricao" required>
      <p th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}" class="error-msg"/>

      <button type="submit" class="btn btn-primary">enviar</button>
    </form>

  </div>

  <!-- quill -->
  <script src="https://cdn.jsdelivr.net/npm/quill@1.3.6/dist/quill.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/quill-image-resize-module@3.0.0/image-resize.min.js"></script>
  <!-- bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script>
    var quill = new Quill('#editor', {
    theme: 'snow',
    modules: {
      toolbar: [
        [{ 'header': [1, 2, 3, false] }],
        ['bold', 'italic', 'underline', 'strike'], 
        ['blockquote', 'code-block'],
        ['link', 'image', 'formula'],
        [{ list: 'ordered' }, { list: 'bullet' }, {list: 'check'}],
        [{ 'align': [] }, { 'indent': '-1'}, { 'indent': '+1' }]
      ],
      imageResize: {
        displayStyles: {
          backgroundColor: 'black',
          border: 'none',
          color: 'white'
        },
        modules: [ 'Resize', 'DisplaySize', 'Toolbar' ]
      }
    }
  });  

  //FUNCAO PARA ENVIAR O FORMULARIO COM O HTML DO QUILL NO INPUT HIDDEN
  function submitForm() {
    let descricao = document.querySelector('input[name=descricao]');
    let quillContent = quill.root.innerHTML;
    
    //REMOVER O VALOR PADRAO DE ENVIO DO QUILL QUANDO O ELE EH ENVIADO VAZIO
    //PARA VALIDAR NO SPRING VALIDATION
    if (quillContent === '<p><br></p>' || quillContent.match(/^<p>\s*<\/p>$/)) {
      descricao.value = '';
    } else {
      descricao.value = quillContent;
    }
  }
</script>
</body>
</html>